PORT=3000
MONGODB_URI=your_mongodb-uri
JWT_ADMIN_SECRET=a_super_long_string
ADMIN_EMAIL=admin_email_address#Auto Creates In Database
ADMIN_PASSWORD=admin_password#Auto Creates In Database
CLIENT_ORIGIN=http://localhost:3000
UPLOAD_DIR=uploads
NODE_ENV=development
SEED_DATABASE=true

